:root {
  --horizont: calc(100% - 70px);
}

* {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
  background-color: black;
  margin: 0;
}
.header {
  color: white;
  text-align: center;
}
.copy {
  color: white;
  text-align: center;
}

.carousel {
  padding: 0 35px;
  display: block;
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: calc(100vh - 81.88px);
}

.slides {
  position: absolute;
  width: var(--horizont);
  height: 100%;

  list-style: none;
  padding: 0;
  margin: 0;
  background-color: black;
}

.slides__item {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0;
  opacity: 0;
  transition: opacity 1.5s;
  object-fit: cover;
}

.slides__item.active {
  opacity: 1;
}

.slides__item:nth-of-type(1) {
  background: url(../images/1.jpg), no-repeat;
  background-size: cover;
}

.slides__item:nth-of-type(2) {
  background: url(../images/2.jpg), no-repeat;
  background-size: cover;
}

.slides__item:nth-of-type(3) {
  background: url(../images/3.jpg), no-repeat;
  background-size: cover;
}

.slides__item:nth-of-type(4) {
  background: url(../images/4.jpg), no-repeat;
  background-size: cover;
}

.slides__item:nth-of-type(5) {
  background: url(../images/5.jpg), no-repeat;
  background-size: cover;
}

.indicators {
  display: flex;
  position: absolute;
  gap: 50px;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);

  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.indicators__item {
  width: 20px;
  height: 20px;
  border: 3px solid white;
  border-radius: 50%;
  opacity: 0.2;
  transition: box-shadow 1s;
  transition: opacity 1s;
}

.indicators__item.active {
  color: white;
  box-shadow: 0 0 10px black;
  opacity: 0.7;
}

.controls {
  position: absolute;

  display: grid;
  justify-content: center;
  grid-template-columns: 15% 70% 15%;

  width: var(--horizont);
  height: 100%;
}

.controls__item {
  display: inline-flex;
  text-align: center;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.controls__item--prev {
  order: 1;
}

.controls__item--next {
  order: 3;
}

.controls__item--pause {
  order: 2;
  display: inline-flex;
}

.fas {
  border: solid white;
  border-width: 0 4px 4px 0;
  display: inline-block;
  width: 3em;
  height: 3em;
  transition: border 1s;
  transition: opacity 1s;
  opacity: 0.2;
}

.controls__item:hover > .fas {
  opacity: 0.7;
}

.fas.fa-play {
  opacity: 0;
  border-width: 0 4px 0 4px;
  width: 2em;
}

.fas.fa-play.active {
  width: 0;
  height: 0;
  border-right: 0;
  border-top: 1.5em solid transparent;
  border-bottom: 1.5em solid transparent;
  border-left: 2em solid white;
}

.controls__item:hover > .fas.fa-play {
  opacity: 0.7;
}

.fa-chevron-right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.fa-chevron-left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
